body{
    font-family: 'Kanit', sans-serif;
    color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/aliens.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

img{
    max-height: 350px;
    max-width: auto;
}

#quizDiv{
    color: black;
}

.btn{
    background-color: black;
    margin-left: 1%;
}
.btn:hover{
    background-color: white;
    color: black;
}
