/* // mobile first */
body{
    font-family: 'Kanit', sans-serif;
    color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/aliens.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}
#home-page-div{
    margin-top: 30%;
}
img{
    max-height: 350px;
    max-width: auto;
}
#quizDiv{
    color: black;
}
.btn{
    background-color: black;
    margin-left: 1%;
}
.btn:hover{
    background-color: white;
    color: black;
}

/* for desktop */
@media only screen and (min-width: 768px) {
    #home-page-div{
        margin-top: 5%;
    }
    
}
