body{
    font-family: 'Kanit', sans-serif;
    color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/aliens.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

#start-btn{
    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    height: 300px;
}

.answer-btn{
    display: block;
    margin-bottom: 1%;
}